/*! important: the styles are compiled via the sass/style.scss file */

/* variables: from style to real code! */
$green: green;

/* selected colors for this project */

/* nested syntax, how cool is that? */

/* mixins */ 

body {
    background-color: $green;
    color: #00ff00;
}